.homedetail{
    .title{
        padding:20px;
        p:nth-child(1){
            text-align: left;
            font-size: 20px;
        }
        p:nth-child(2){
            text-align: left;
            width: 100%;
            color: #92969c;
            margin-top: 10px;
        }
        mark{
            background: #ff3939;
            color: white;
            font-size: 18px;
            float: left;
            margin-top: 10px;
            margin-right: 10px;
        }
        p:nth-child(4){
            color: #ff3939;
            font-size: 18px;
            float: left;
            margin-top: 10px;
            margin-right: 10px;
        }
        p:nth-child(5){
            margin-top: 10px;
            color: #92969c;
            font-size: 18px;
            float: left;
            text-decoration: line-through;
        }
        p:nth-child(6){
            margin-top: 10px;
            margin-right: 10px;
            color: #92969c;
        }
    }
}